<!-- 黒背景 + 白文字ベースのCSS -->
<link rel="stylesheet" href="styles.css"/>
<!-- サニタイズ -->
<script src="https://cdn.jsdelivr.net/npm/dompurify@2/dist/purify.min.js"></script>
<!-- zip -->
<script src="https://cdn.jsdelivr.net/npm/pako/dist/pako.min.js"></script>
<!-- 背景管理用 -->
<script src="js/background.js"></script>
<!-- 雑多 -->
<script src="js/common.js"></script>
<!-- 取説 -->
<script src="js/tutorialData.js"></script>
<script src="js/tutorialManager.js"></script>