  <div class="application-bar">
  {% if topFlag != true %}  <!-- メニューに戻るボタン -->
    <button id="back-to-menu">
      <div class="iconmoon icon-home3"></div>戻る
    </button>
  {% endif %}  <!-- 取説一覧ページへ遷移するボタン -->
    <button id="open-tutorial-list-button">
      <div class="iconmoon icon-book"></div>取説
    </button>
    <button id="save-load-button">
      <div class="iconmoon icon-address"></div>
      続き
    </button>
    <!-- 背景を変更するボタン -->
    <button id="change-bg-button">
      <div class="iconmoon icon-picture"></div>背景
    </button>
  </div>