<div class="application-bar">
  
{% if topFlag != true %}
    <!-- メニューに戻るボタン -->
    <button id="back-to-menu"><div class="iconmoon icon-home3"></div>戻る</button>{% endif %}
    <!-- 取説一覧ページへ遷移するボタン -->
    <button id="open-tutorial-list-button"><div class="iconmoon icon-book"></div>取説</button>

    <!-- 背景を変更するボタン -->
    <button id="change-bg-button"><div class="iconmoon icon-picture"></div>背景</button>
    <!-- ▼ 背景選択モーダル -->
    <div id="bg-modal" class="modal">
      <div class="modal-content bg-modal-content">
        <h2>背景選択</h2>
        <div id="bg-stock-container" class="bg-stock-grid"></div>
        <div class="c-flexbox">
          <button id="bg-none-button" class="btn-secondary">背景無し</button>
          <button id="bg-generate-button">生成する</button>
        </div>
        <div class="c-flexbox">
          <button id="bg-close-modal-button" class="btn-close-modal">閉じる</button>
        </div>
      </div>
    </div>
    <div id="bg-generate-modal" class="modal">
      <div class="modal-content">
        <p>背景画像を生成中...</p>
      </div>
    </div>
  </div>