@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?nm9h0u');
  src:  url('fonts/icomoon.eot?nm9h0u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?nm9h0u') format('truetype'),
    url('fonts/icomoon.woff?nm9h0u') format('woff'),
    url('fonts/icomoon.svg?nm9h0u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-newspaper:before {
  content: "\e009";
}
.icon-picture:before {
  content: "\e00f";
}
.icon-key:before {
  content: "\e02c";
}
.icon-strategy:before {
  content: "\e03b";
}
.icon-beaker:before {
  content: "\e03c";
}
.icon-profile-male:before {
  content: "\e040";
}
.icon-profile-female:before {
  content: "\e041";
}
.icon-target:before {
  content: "\e04e";
}
.icon-home3:before {
  content: "\e902";
}
.icon-book:before {
  content: "\e91f";
}
.icon-books:before {
  content: "\e920";
}
.icon-library:before {
  content: "\e921";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-user:before {
  content: "\e971";
}
.icon-magic-wand:before {
  content: "\e997";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute2:before {
  content: "\ea2a";
}
.icon-sort-alpha-asc:before {
  content: "\ea48";
}
.icon-sort-alpha-desc:before {
  content: "\ea49";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-sort-amount-desc:before {
  content: "\ea4d";
}
